<main>
    <div class="container">
        <div class="container__text">
            <h1>¡Hola!
                <span>Estamos actualizando nuestro sitio web</span>,
                mientras tanto nos encontrás por estos canales
            </h1>
            <div class="container__buttons">
                <a href="https://instagram.com/numi.tejidos" class="button" target="_blank">
                    <img src="../../../assets/instagram-icon.svg" alt="Logo Instagram" />
                    Visitanos en Instagram
                </a>
                <a href="mailto: numitejidos@gmail.com" class="button">
                    <img src="../../../assets/email-icon.svg" alt="Logo Email" />
                    Escribinos por email
                </a>
            </div>
        </div>
        <div class="container__img">
            <img src="../../../assets/oso-numi.svg" alt="Oso Numi" class="bear">
        </div>
    </div>
</main>